body {
  background-color: #fcba03;
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

.App {
  max-width: 800px;
  margin: 0 auto;
  padding: 80px 20px 20px;
}

.welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  font-size: 2rem;
  color: #000;
  font-weight: bold;
  text-align: center;
}
